h1 {
    background-color: bisque;
    color: darksalmon;
    text-align: center;
}

body {
    background-color: darksalmon;
}

.dropdown {
    display: flex;
    justify-content: center;
    gap: 15px;
}

label {
    font-weight: bold;
}